.nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.nav__links{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.nav__element{
    list-style-type: none;
    margin-right: 40px;
}
.nav__link{
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
    height: 17px;
}

.nav__element:last-child{
    margin-right: 0;
}

@media screen and (max-width: 652px){
    .nav__link{
        font-size: 11px;
        height: 15px;
    }
    .nav{
        padding: 25px;
    }
    .nav__element{
        margin-right: 24px;
    }
}