.movie{
    display: flex;
    flex-direction: column;
    position: relative;
}

.movie__name{
    color: #000;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 14px 0 0 11px;
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.movie__duration{
    color: #A0A0A0;
    text-align: center;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 90.909% */
    margin: 17px 11px 0 0;
}

.movie__image-link{
    width: 100%;
    height: 201px;
}

.movie:hover .movie__button{
    display: block;
}
.movie:hover .movie__button-delete{
    display: block;
}
.movie__image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.movie__bottom-container{
    display: flex;
    justify-content: space-between;
}
.movie__save{
    width: 21px;
    height: 21px;
}
.movie__button-delete{
    display: none;
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: inherit;
    padding: 0;
}
.movie__button-delete{
    width: 21px;
    height: 21px;
}
.movie__button{
    display: none;
    width: 72px;
    height: 21px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F9F9F9;
    color: #000;
    text-align: center;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px; /* 90% */
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
}
.movie__button-save{
    border: none;
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    background-color: inherit;
}

@media screen and (max-width: 1162px){
    .movie__image-link{
        height: 190px;
    }
    .movie__name{
        margin: 25px 0 0 0;
    }
    .movie__duration{
        margin: 28px 0 0 0;
    }
}

@media screen and (max-width: 729px){
    .movie__image-link{
        height: 168px;
    }
    .movie__name{
        margin: 16px 0 0 0;
    }
    .movie__duration{
        margin: 19px 0 0 0;
    }
    .movie__button-delete{
        top: 10px;
        right: 10px;
    }
    .movie__button{
        top: 10px;
        right: 10px;
    }
    .movie__button-save{
        top: 10px;
        right: 10px;
    }
}

