.about{
    display: flex;
    flex-direction: column;
}
.about__container{
    margin: 110px auto;
    max-width: 1140px;
}
.about__title{
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0;
}

.section-title{
    border-bottom: 1px solid;
    height: 51px;
    width: 100%;
}

.about__project{
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: 24px 40px;
    grid-column-gap: 40px;
    grid-row-gap: 26px;
    margin: 70px 0 110px;
}

.about__project-title{
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
}

.about__project-text{
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.about__time{
    display: grid;
    grid-template-columns: 228px 912px;
    grid-template-rows: 36px 17px;
    grid-row-gap: 14px;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.about__time-text{
    color: #000;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 11px 0;
}

.about__time-end{
    color: #A0A0A0;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    margin: 0;
}

.about__time-container{
    color: #FFF;
    background-color: #000;
}

@media screen and (max-width: 1162px){
    .about__container{
        margin: 90px auto;
        max-width: 668px;
    }
    .about__project{
        grid-template-columns: repeat(2, 319px);
        grid-template-rows: 48px 55px;
        grid-column-gap: 30px;
        grid-row-gap: 22px;
        margin-bottom: 102px;
    }
    .about__time{
        grid-template-columns:  140px 528px;
    }
    .about__project-text{
        font-size: 12px;
    }
    .about__time-text{
        padding: 9px 0;
    }
}

@media screen and (max-width: 686px){
    .about__container{
        margin: 70px auto;
        max-width: 284px;
    }
    .about__title{
        font-size: 18px;
    }
    .section-title{
        height: 56px;
    }
    .about__project{
        display: flex;
        flex-direction: column;
        grid-column-gap: 0;
        grid-row-gap: 0;
        margin: 60px 0;
    }
    .about__project-title{
        margin-bottom: 16px;
    }
    .about__project-text{
        margin-bottom: 56px;
    }
    .about__project-text:last-of-type{
        margin-bottom: 0;
    }
    .order{
        order: -2;
    }
    .order-text{
        order: -1;
    }
    .about__time{
        grid-template-columns:  100px 184px;
        grid-row-gap: 10px;
    }
    .about__time-text{
        font-size: 11px;
        padding: 11px 0;
    }
    .about__time-end{
        font-size: 11px;
    }
}