.search{
    display: flex;
    flex-direction: column;
}
.search__line{
    border-bottom: 1px solid #E8E8E8;
    width: calc(100% - 140px);
    margin: 69px auto 10px;
}
.search__form{
    max-width: 1140px;
    width: 100%;
    margin: 70px auto 0;
    height: 72px;
    display: flex;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
}
.search:after{
    content: '';
    height: 1px;
    display: block;
    border-bottom: 1px solid #E8E8E8;
    width: calc(100% - 140px);
    margin: 69px auto 10px;
}
.search__input-container{
    display: flex;
}
.search__filter-container{
    display: flex;
    border-left: 1px solid #CBCBCB;
    margin: 16px 0;
    display: flex;
    align-items: center;
}
.search__form-container{
    display: flex;
    justify-content: space-between;
    width: 859px;
}
.search__icon{
    width: 34px;
    height: 34px;
    margin: 19px 10px 19px 19px;
}

.search__button{
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 163.636% */
    border-radius: 48px;
    background: #000;
    width: 59px;
    height: 34px;
    margin: 19px 19px 19px 0;
    padding: 0;
    border: none;
}

.search__input{
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    border: none;
    padding: 0;
    height: 22px;
    margin: 25px 0;
    max-width: 180px;
}
.search__input:focus{
    outline: none;
    border-bottom: 1px solid black;
}
.search__input-value{
    color: #A0A0A0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
    border: none;
    padding: 0;
    height: 22px;
    margin: 25px 0;
}
.search__text{
    margin: 0 30px 0 0;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
}

.search__input-switch{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin: 0 15px 0 19px;
}
.search__input-switch .search__input-checkbox{
    display: none;
}
.search__input-checkbox:checked + .slider {
    background-color: rgba(43, 224, 128,1);
}

.search__input-checkbox:focus + .slider {
    box-shadow: 0 0 2px rgba(43, 224, 128,1);
}

.search__input-checkbox:checked + .slider:before {
    transform: translateX(16px);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(196, 196, 196,1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 1156px){
    .search__form{
        max-width: 708px;
        margin: 80px auto 0;
    }
    .search__form-container{
        width: 437px;
    }
    .search:after{
        margin-top: 109px;
        width: calc(100% - 60px);
    }
    .search__text{
        margin-right: 20px;
    }
}

@media screen and (max-width: 729px){
    .search__form{
        max-width: 300px;
    }
    .search__icon{
        display: none;
    }
    .search__form{
        flex-direction: column;
        height: 100%;
    }
    .search__form-container{
        width: 300px;
    }
    .search__input-container{
        justify-content: space-between;
    }
    .search__input{
        margin: 25px 19px;
        font-size: 14px;
    }
    .search__input-value{
        font-size: 14px;
    }
    .search__filter-container{
        border-left: none;
        justify-content: center;
        margin: 46px 0 0 0;
    }
    .search:after{
        margin-top: 45px;
        width: calc(100% - 20px);
    }
    .search__input-switch{
        margin-right: 13px;
        margin-left: 0;
    }
    .search__text{
        font-size: 11px;
        margin-right: 0;
    }
}